/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0px;
	font-size: 62.5%;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

.top-navigation {
}

.content {
	display: flex;
	border: 4px green;
	padding: 2rem;
	margin: 2rem;
}

.links {
	display: flex;
}
.links li {
	justify-content: center;
	padding: 1rem;
	margin: 1rem 2rem 1rem 1rem;
	order: 1;
}

.logo {
}
