/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0px;
	font-size: 62.5%;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

.top-navigation {
	margin: 0;
	padding: 0;
	width: 100%;
	height: -1rem;
	background-color: white;
	position: fixed;
}

.content {
	display: flex;
	border: 2px;
	padding: 1rem;
	margin: 1rem;
	height: 3rem;
	justify-content: flex-end;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	font-size: 1.1rem;
}
.links li {
	padding: 1rem;
	margin: 1rem 2rem 1rem 1rem;
	align-content: flex-start;
}

.logo {
	height: 2.75rem;
	width: 2.75rem;
	margin-right: 5rem;
}

.introduction {
	background: url(../img/first-background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	width: 100%;
	height: 50rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.introduction .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.introduction h1 {
	font-size: 3rem;
	font-weight: lighter;
	margin: 1rem;
}
.introduction h3 {
	font-size: 2rem;
	font-weight: lighter;
	margin: 1rem;
}
.button button {
	background-color: red;
}
